<section>
    <div class="container" style="padding-top: 150px;">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.products._id}}.jpg" style="width: 100px; height: 100px;"></td>
                    <td>{{this.products.Name}}</td>
                    <td>{{this.products.Price}}</td>
                    <td>

                        <button class="cart-item-count mr-3 bg-info"  onclick="changeQuantity('{{this._id}}','{{this.products._id}}','{{this.quantity}}',-1)">
                         -
                        </button><span id="{{this.products._id}}" value="">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3 bg-info" onclick="changeQuantity('{{this._id}}','{{this.products._id}}','{{this.quantity}}',1)">+</button>
                    </td>
                    <td>
                        <a href="/delete-product/{{this.products._id}}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</section>
<script>
    function changeQuantity(cartId,proId,quantity,count){
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:proId,
                quantity:quantity,
                count:count

            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    let quantity=$('#'+proId).html()
                    quantity =parseInt(quantity)+count
                    $('#'+proId).html(quantity)

                }
            }
        })
    }
</script>