<section>
    <div class="container" style="padding-top: 150px;">
        <table class="table ">
            <thead>
                <tr style="color: rgb(233, 108, 19);text-transform: uppercase;font-weight: 500;font-size: large;">
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">status</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.getTotalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/view-ordered-product/{{this._id}}" class="btn btn-info">View Products</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>